.all-qna {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}
.stateQna {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.qna-title {
  text-align: center;
}
.para {
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  .all-qna {
    grid-template-columns: repeat(1, 1fr);
  }
  .para {
    margin-top: 16px;
  }
}
